/**
 *  uni-list 
 * 
 *
 */

// 
$background-color : #fff;
// 
$divide-line-color : #e5e5e5;

//  js  const avatarWidth = xx 
// nvue 
$avatar-width : 45px ;

// 
$avatar-border-radius: 5px;
$avatar-border-color: #eee;
$avatar-border-width: 1px;

// 
$title-size : 16px;
$title-color : #3b4144;
$title-weight : normal;

// 
$note-size : 12px;
$note-color : #999;
$note-weight : normal;

// 
$right-text-size : 12px;
$right-text-color : #999;
$right-text-weight : normal;

// 
// nvue 
//  0 //
$badge-left: 0px;
$badge-top: 0px;

// 
$dot-width: 10px;
$dot-height: 10px;

// 
$badge-size : 18px;
$badge-font : 12px;
// 
$badge-color : #fff;
// 
$badge-background-color : #ff5a5f;
// 
$badge-space : 6px;

// 
// 
$hover : #f5f5f5;
