
view{
  color: #0E0E0E;
font-family: PingFangSC-Regular, PingFang SC;
}
.textarea-placeholder{
  font-family: PingFangSC-Regular, PingFang SC;
  /* color: #969393 ; */
}

a{background-color:transparent;text-decoration:none;color:#0E0E0E}
a:active,a:hover{outline:0}
